:root {
    --vermelho:#E50914;
    --preto:#141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
   
}

.container {
    margin-left: 10px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-size: 40px;
    font-family: "Arial Black";
}

header nav a {
    color:#aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff
}

a {
    text-decoration: none;
}

.title {
    margin-bottom: 8px;
}

.filme-principal {
    margin-top: 70px;
    font-size: 40px;
    background: linear-gradient(to right, #111 30%, transparent 70%), url('/img/serie.jpg');
    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

main p {
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
    max-width: 40%;
}

.assistir,
.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease all 0.3s;
}

.assistir {
    height: 50px;
    width: 140px;
    background-color: #fff;
    color: #000;
}

.info {
    height: 50px;
    width: 140px;
    background-color: #000;
    color: #fff;
}

.assistir:hover {
    background-color: #000;
    color: #fff;
}

.info:hover {
    background-color: #fff;
    color: #333;
}

.assistir,
.info i {
    margin-right: 5px;
}

.box-filmes {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel {
    margin-top: 10px;
}

footer#rodape {
    bottom: 0;
}

footer#rodape p {
    margin-left: 10px;
    margin-top: 50px;
    color: #fff;
}

.footer img {
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}